@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--dark-blue-i);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* primary */
  --blue: hsl(246, 80%, 60%);
  --light-red-i: hsl(15, 100%, 70%);
  --light-red-ii: hsl(348, 100%, 68%);
  --soft-blue: hsl(195, 74%, 62%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  /* neutral */
  --dark-blue-i: hsl(226, 43%, 10%);
  --dark-blue-ii: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}