.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.secondGrid {
  margin: -5px 10px 10px 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.card {
  margin: 0.5rem;
  margin-top: -225px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  width: 250px;
  background-color: var(--dark-blue-ii);
}

.work {
  border-top: 40px solid var(--light-red-i);
}

.play {
  border-top: 40px solid var(--soft-blue);
}

.study {
  border-top: 40px solid var(--light-red-ii);
}

.exercise {
  border-top: 40px solid var(--lime-green);
}

.social {
  border-top: 40px solid var(--violet);
}

.selfCare {
  border-top: 40px solid var(--soft-orange);
}

.profile {
  border-top: 260px solid var(--violet);
}

.cardProfile {
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  width: 250px;
  height: 465px;
  background-color: var(--dark-blue-ii);

}

@media (max-width: 900px) {
  .card {
    margin: 0.5rem;
  }

  .cardProfile {
    max-width: 250px;
    height: 100px;
    margin: 0.5rem;
  }

  .profile {
    border-top: 100px solid var(--violet);
    display: flex;
    flex-direction: row;
    margin: 10px;

  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .secondGrid {
    width: 100%;
    margin: 0.5rem;
    flex-direction: column;
  }

}